html, body {
	height: 100%;
	padding: 0px;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100% !important;
}

@-ms-viewport{
  width: device-width;
}

.container {
	max-width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
}

/* TYPOGRAPHY */

h2 {
	font-size: 30px;
	font-weight: 400;
}

p {
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
}

/* NAVIGATION */

.nav {
	padding-top: 75px;
}

.nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style-type: none;
}

.nav ul li {
	padding: 20px;
	list-style: none;
	font-size: 16px;
}

.nav ul li a, .nav ul li a:visited {
	color: #000;
	padding: 5px;
	text-decoration: none;
	transition: 0.2s color;
}

.nav ul li a:hover {
	color: #fff;
	transition: 0.2s color;
}

.nav ul li a.active {
	color: #000;
	border-bottom: 5px solid #fff;
}


/* MAIN SECTION */

.main {
	background-color: #ffde00;
	/*background: url("../images/about_bg.jpg") center center no-repeat; 	*/
	background-size: cover;
	height: 100vh;
}

.main, .main .container {
	height: 100%;
}

.main_text {
	height: 70%;
	text-align: center;
	display: flex;
	align-items: center;
 	justify-content: center;
}

.main_text h1 {
	font-weight: 400;
	font-size: 45px;
}

.arrow-down {
	margin: 0 auto;
	height: 30px;
	width: 30px;
}

/* ABOUT SECTION */

.about h2 {
	padding-top: 120px;
	padding-bottom: 20px;
	margin: 0;
}

.about p {
	margin-bottom: 100px;
}

.about a {
	color: #ffde00;
	text-decoration: none;
}

/* CONTENT */

img {
	height: 50px;
	width: auto;
}

h2 {
	margin-bottom: 40px;
}

.design, .code, .pizza, .coffee, .music, .doughnut, .bugs, .deadline, .school, .photoshop, .illustrator, .sublime,
.aftereffects {
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.icons {
	margin-bottom: 80px;
}

.icons p {
	display: block;
}

/* LET'S TALK BUSINESS */

a {
	text-decoration: none;
}

.business {
	color: #000;
	text-decoration: none;
	text-align: center;
	background: #ffde00;
	margin: 0;
	padding: 15px;
}

/* FOOTER */

.footer {
	width: 100%;
	min-height: 380px;
	background: url("../images/background/footer_bg.jpg") center center no-repeat;
	background-size: auto;
	text-align: center;
}

.footer p {
	font-size: 18px;
	margin: 0;
	padding-top: 100px;
}

.footer h2 {
	margin: 30px 0;
	font-size: 40px;
}

.footer h2 a {
	color: #000;
	transition: 0.3s color;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 5px solid #ffde00;
}

.footer a:hover {
	color: #ffde00;
	transition: 0.3s color;
}

.footer img {
	height: 30px;
	padding: 15px;
	width: auto;
}


@media (max-width:640px) {

	.container {
		padding: 0 25px;
	}

	/* MOVILE NAVIGATION */
	.nav ul {
		justify-content: center;
	}

	.nav ul li {
		font-size: 18px;
		margin-left: 0;
		padding: 20px;
	}

	/* MOBILE MAIN */
	.main_text h1 {
		font-size: 30px;
	}

	.main_text {
		height: 60%;
	}

	/* CONTENT */
	
	h2, p {
		text-align: center;
	}

	.design, .code, .pizza, .coffee, .music, .doughnut, .bugs, .deadline, .school, .photoshop, .illustrator, .sublime,
	.aftereffects {
   	 width: 49%;
	}

	/* FOOTER MOBILE */

	.footer h2 {
		padding: 0;
		font-size: 25px;
	}

	.footer p {
		font-size: 16px;
	}
}
